.cloud-1,
.cloud-2,
.cloud-3,
.cloud-4,
.cloud-5 {
	position: fixed;
	z-index: -1;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: linear;
}

.cloud-1 {
	top: 30px;
	animation-name: cloud-anim;
	animation-duration: 90s;
	animation-delay: -20s;
}

.cloud-2 {
	top: 180px;
	animation-name: cloud-anim;
	animation-duration: 120s;
	animation-delay: -60s;
	width: 150px;
	opacity: 0.6;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.cloud-3 {
	top: 405px;
	left: -20%;
	animation-name: cloud-anim;
	animation-duration: 190s;
	animation-delay: -55s;
	width: 180px;
	opacity: 0.65;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.cloud-4 {
	top: 190px;
	animation-name: cloud-anim;
	animation-duration: 140s;
	animation-delay: -20s;
	width: 210px;
	opacity: 0.7;
}

.cloud-5 {
	top: 640px;
	animation-name: cloud-anim;
	animation-duration: 5s;
	width: 200px;
	opacity: 0.9;
}

/* Animations */
@-webkit-keyframes cloud-anim {
	0% {
		right: -15%;
	}
	100% {
		right: 110%;
	}
}
@keyframes cloud-anim {
	0% {
		right: -15%;
	}
	100% {
		right: 110%;
	}
}
