body {
	// cursor: none; //cacher le curseur par defaut
}

#cursor {
	position: relative;
	background-image: url('../img/scope.svg');
	background-position: center center;
	width: 288px;
	height: 288px;
	z-index: 3;
	pointer-events: none; //important
	transform: translate(-333%, -135%); //full screen ajust 
}
