/* background settings */
//TODO: verified
* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden; //plein ecran
}

#environment {
	z-index: 1;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	background-image: url('../img/bg0.jpg');
	filter: brightness(120%);
}
