@font-face {
	font-family: quicksand;
	src: url('./assets/fonts/quicksand.ttf');
}

@mixin btn-theme() {
	position: relative;
	width: 100px;
	height: 30px;
	// align-items: center;
	left: 40%;
	border: solid 3px #444;
	border-radius: 7px;
	transition: 0.2s;

	&:hover {
		background-color: #444;
		color: #eee;
	}
}

* {
	font-family: quicksand;
	color: #444;
}

nav {
	position: fixed;
	background-color: #444;
	padding: 20px;
	padding-left: 10%;
	padding-right: 20%;
	width: 100%;
	height: 70px;
	top: 0;
	z-index: 4;
	color: #eee;
	opacity: 0.8;
	transition: 0.5s;

	&:hover {
		cursor: pointer;
		opacity: 1;
	}

	@media (max-width: 718px) {
		span {
			transition: 1s ease;
			font-size: 12px;
		}
	}
}

h1 {
	position: absolute;
	top: 12%;
	font-size: 50px;
	opacity: 0.3;
	z-index: 3;
}

.menu {
	color: #eee;
	display: flex;
	align-items: center;
	justify-content: center;
}

#menu-btn {
	margin: auto;

	button {
		@include btn-theme();

		&:hover {
			border: solid #eee 2px;
		}
	}
}

#ui-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#kill-interface {
	position: fixed;
	min-width: 500px;
	width: 25%;
	height: 191px;
	bottom: -1%;
	background: rgb(107, 107, 107);
	background: linear-gradient(
		0deg,
		rgba(107, 107, 107, 1) 0%,
		rgb(146, 146, 146) 41%,
		rgb(182, 182, 182) 100%
	);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border: 10px solid #444;
	z-index: 4;
	opacity: 0.5;
	transition: 0.5s;

	&:hover {
		opacity: 1;
		cursor: pointer;
	}

	button {
		@include btn-theme();
	}
}

#kill-display {
	text-align: center;
	font-size: 40px;
	color: orangered;
}

.ui-box {
	box-shadow: 2px 4px 16px -6px rgba(0, 0, 0, 0.75) inset;
	-webkit-box-shadow: 2px 4px 16px -6px rgba(0, 0, 0, 0.75) inset;
	-moz-box-shadow: 2px 4px 16px -6px rgba(0, 0, 0, 0.75) inset;
	padding: 10px;
	border-radius: 7px;
}

.m-10 {
	margin: 10px !important;
}

.modal-notif {
	display: flex;
	justify-content: center;

	&--success {
		color: rgb(78, 240, 146);
	}

	&--error {
		color: rgb(251, 104, 50);
	}
}

.modal-content {
	opacity: 0.9;
}

/* NOTIF (begin) */

.notify {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.notifytext {
		visibility: hidden;
		width: 160px;
		background-color: #555;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 10px;
		position: absolute;
		z-index: 1;
		bottom: 125%;
		left: 50%;
		margin-left: -80px;
		font-size: 12px;
		opacity: 0.9;
		border: solid aquamarine 2px;

		&::after {
			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: #555 transparent transparent transparent;
		}
	}

	.show {
		visibility: visible;
		-webkit-animation: fadeIn 1s;
		animation: fadeIn 1s;
	}

	&--btn {
		width: 30px;
		background-color: aquamarine;
		border: solid #888 2px;
		border-radius: 5px;
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* NOTIF (end) */
